.card {
    margin: 20px;   
}


.row {
    margin:auto;
    max-width: 1000px;
}

body {
    background-image: url("../marvelBackground.gif");
}

h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #dbc6a4;
}